.numberInput {
  -moz-appearance: textfield;
}

.numberInput:focus-visible {
  outline: none;
}

input.numberInput::-webkit-outer-spin-button,
input.numberInput::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
